*.a binary linguist-vendored
*.c text linguist-language=C
*.cc text linguist-language=C++
*.cmake text linguist-language=CMake
*.cpp text linguist-language=C++
*.dll binary linguist-vendored
*.h text linguist-language=C++
*.hpp text linguist-language=C++
*.ico binary linguist-vendored
*.lib binary linguist-vendored
*.md text
*.rc text
*.so binary linguist-vendored
*.ttf binary linguist-vendored
*.txt text
*.yml text linguist-detectable=true linguist-language=YAML

src/3rdparty/**/* linguist-vendored
src/3rdparty/LodePNG/CMakeLists.txt -linguist-vendored
src/3rdparty/readme.txt -linguist-vendored
src/3rdparty/SQLiteCpp/CMakeLists.txt -linguist-vendored
